body{
    background-color: blue;
    color: white;
    font-family: "PT Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: cornflowerblue;
    color: white;
    font-family: "PT Serif", serif;
}